* {
    box-sizing: border-box;
  }
.header {
    height: 120px;
    background-image: linear-gradient(0,#f53d2d,#ee4d2d);
}
.header__navbar {
    display: flex;
    justify-content:space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left:0;
    margin-top:4px;
}
.header__navbar-item  {
    margin: 0 12px;
    position: relative;
}
.header__navbar-item--notification:hover .header__notify{
    display: block;
}
.header__navbar-item ,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 200;
}
.header__navbar-item:hover ,
.header__navbar-item-link:hover
.header__navbar-icon-link:hover,
.header__navbar-icon:hover{
    opacity: 0.8;
    cursor: pointer;
}
.header__navbar-item span {
    margin: 0;
}
.header__navbar-icon {
    margin: 0 0 4px 2px;
}

.header__navbar-item--bold{
    font-weight: 500;
}
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute; 
    width: 1px;
    height: 14px;
    background-color: #f86c5c;
    top:50%;
    right:-14px;
    transform: translateY(-50%);
}

.no-pointer {
    cursor:text !important;
    color: var(--white-color) !important;
}



/* header notify  */
.header__notify{
    position:absolute;
    top:26px;
    right:0;
    width: 400px;
    background-color: var(--white-color);
    border : 1px solid #D3D3D3;
    cursor: default;
    background-color:   white;
    
    /* transform-origin: top right;   Thuộc tính đổi tâm */
    /* cách viết khác:  */
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in .2s;
    display:none;
}
.header__notify::before {
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right:14px;
    top: -30px;

}
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right:0;
    top:-18px;
    width: 100px;
    height: 20px;


}

@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }

}

.header__notify-header{

    height: 40px;
    background-color: var(--white-color);

}
.header__notify-header h3 {
    color:#999;
    margin:0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height:40px;
}
.header__notify-list{
    padding-left:0;
   
}
.header__notify-item{
    background-color: white;
}
.header__notify-item:hover{
    background-color: rgb(219, 207, 207);
}
.header__notify-item--viewed{
    background-color: rgba(243, 66, 45,0.1);
}

.header__notify-link{
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight:500;
    line-height: 1.8rem;
}
.header__notify-desc{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--text-color);
    margin-top:4px;
}
.header__notify-footer{
    display:flex;
   
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}


/* container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container >div {
    margin: auto;
}

.pagination a {

    display: inline-flex;
    flex-direction: row;
    padding: 4px 4px;
    justify-content:center;
    font-size: 30px;
    margin: 4px 8px;
    text-decoration: none;
}
/* container__content dùng để chứa các đối tượng trong phân content */
.container__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* card */
.card {
    background-color: rgb(219, 138, 138);
    position: relative;
    float:none;
    margin: 0 10px;
    width: 250px;
    height:450px;
}

h4,p {
    margin: 4px 0 0 0;
}
.card__img {
   width: 100%;
   height: 70%;
}
.body__categories{
    margin: 70px 0 ;
}
.body__row{
    margin-top: 70px;
    margin-left: 20%;
    clear:both;
    display: table;
    
}
.body__row div{
    float: left;
    cursor: pointer;
    display:inline-flex ;
    width: 30%;
    padding:5px;
    margin-bottom: 50px;
    background-color: blue;
}
.body__row div img{
    width: 100%;
    height: 250px;
}
.list{
    width: 100%;
    max-width: 768px;
    border: 1px solid #fff;
    background-color: black;
}
.list .item{
    padding: 15px;
    border-bottom: 1px solid white;
}
.list .item:hover{
    background:black    ;
}

.pagination .pagination__content ul li a{
    color:black;
}
.pagination .pagination__content .number-page{
    display: flex;
}
.pagination .pagination__content ul{
    display: flex;
    justify-content: left;
}
.pagination .pagination__content li{
    width: 30px;
   height: 30px;
   border-radius: 3px;
   border: 1px solid gray;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 15px;
   cursor: pointer;

} 
.btn-active{
    color: #c6c9cc;
    border: solid 1px #c6c9cc !important;
}
.pagination .pagination__content .number-page .active{
    background: #ff0000;
    border: 1px solid #ff0000;
}
.pagination .pagination__content .number-page .active a{
    color: white;
}